html {
    margin: 0;
    font-size: 16px;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: 'Space Grotesk', sans-serif;
    background-color: rgb(252, 249, 249);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 23rem;
    background-color: hsl(0, 0%, 100%);  
}

.bg-card-img {
    width: 100%;
}

#card-container {
    position: relative;
    margin-bottom: 5rem;
    color: white;
}

.card-back, .card-front, .card-cvc, .card-logo, .card-line-a, .card-line-b {
    position: absolute;
}

.card-back {
    top: 10%;
    left: 18%;
    width: 78%;
}

.card-front {
    top: 47%;
    left: 4%;
    width: 75%;
    box-shadow: 0 3rem .5rem -.2rem rgba(236, 236, 236, 0.253);
}

.card-cvc {
    top: 36%;
    left: 79%;
    font-size: .6rem;
}

.card-logo {
    top: 52%;
    left: 8%;
    width: 13%;
}

.card-line-a {
    top: 75%;
    left: 10%;
    letter-spacing: 2px;
    font-weight: bold;
}

.card-num {
    display: inline;
    margin-right: 10px;
}

.card-line-b {
    top: 93%;
    left: 10%;
    font-size: .6rem;
    font-weight: bold;
}

.card-name {
    margin-right: 8rem;
}

#form {
    width: 20rem;
}

#form label {
    text-transform: uppercase;
    font-size: .7rem;
    font-weight: bold;
    letter-spacing: 1px;
    color: rgba(0, 0, 0, 0.74);
}

#form input {
    border: 1px solid rgb(221, 221, 221);
    border-radius: 7px;
    padding: 10px 5px;
    margin: 5px 0 15px 0;
    box-sizing: border-box;
    font-size: .9rem;
    font-weight: bold;
    letter-spacing: .9px;
    color: rgba(128, 128, 128, 0.603);
}

input[type="number"] {
    appearance: textfield;
}

.info-input {
    display: block;
    width: 100%;
}

.card-sec {
    width: 100%;
}

.security-label {
    display: grid;
    grid-template-columns: auto auto 1fr;
    column-gap: 1.2rem;
}

.security-input {
    display: grid;
    grid-template-columns: 1fr 1fr 2.5fr;
    column-gap: .8rem;
}

#form button {
    width: 100%;
    padding: 15px 5px;
    background-color: hsl(278, 68%, 11%);
    border-style: none;
    border-radius: 5px;
    color: white;
    font-size: .9rem;
    font-weight: bold;
    margin: 1rem 0 2.5rem 0;
}